################################################################################
[include]
################################################################################

; Include user-specific config
path = .gitconfig.user
